@model Category

<div class="container mt-4">
    <form method="post" class="p-4 bg-light rounded shadow-sm max-w-lg">

        <input asp-for="Id" hidden />
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" disabled />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DisplayOrder" class="form-label"></label>
            <input asp-for="DisplayOrder" class="form-control" disabled/>
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-danger">Delete</button>

        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}