
<div class=" d-flex align-items-center justify-content-center ">
    <div class="text-center">
        <div class="text-success display-1">✔</div>
        <h2 class="mt-4">Payment Successful</h2>
        <p class="text-muted">Thank you! Your payment has been processed successfully.</p>
        <a asp-controller="Home" asp-action="Index" class="shop-now-btn mt-3">Go to Home</a>
    </div>
</div>
