@model VMart.Models.ViewModels.AddLatestProductViewModel

@{
    ViewData["Title"] = "Update Product";
}

<h2 class="text-center my-4">Update Product</h2>

<form asp-action="Update" method="post" class="w-100 w-md-50 mx-auto border rounded p-4 shadow">
    <input asp-for="NewProduct.Id" hidden />
    <div class="mb-3">
        <label asp-for="NewProduct.DisplayOrder" class="form-label"></label>
        <input asp-for="NewProduct.DisplayOrder" class="form-control" min="1" />
        <span asp-validation-for="NewProduct.DisplayOrder" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NewProduct.ProductId" class="form-label">Select Product</label>
        <select asp-for="NewProduct.ProductId" class="form-select" style="max-width: 100%;">
            <option value="">-- Select Product --</option>
            @foreach (var product in Model.Products)
            {
                <option value="@product.Id">@product.Title</option>
            }
        </select>
        <span asp-validation-for="NewProduct.ProductId" class="text-danger"></span>
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
